.navbar {
  background: #f3f23c;
  height: 70px;
  text-transform: uppercase;
}

.navbar li {
  color: #a5a5a4;
  font-size: 1.3rem;
  text-decoration: none;
  margin: 5px;
  display: inline-block;

  /* line-height: 3; */
} 
/* 
.navbar li {
  display: inline-block;
  text-align: center;
} */


.itemCenter {
	width: 70%;
}

/* .score {
  width: 15%;
} */

/* .navbar {
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
} */
/* 

li {
  color: white;
  padding: 15px 0;
} */

body {
  font-size: 24px;
}

#nav-menu-container {
  margin-bottom: 100px;
}